body {
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
}

h1 {
    font-weight: 300;
    margin: 10px 0px;
}

h2 {
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-style: bold;
    margin-bottom: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    padding-left: 25px;
}

.text {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #222222
}

.content {
    
    background-color: #ffffff;
    max-width: 700px;
    margin: 30px auto;
    padding: 40px;
    height: 800px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact p {
    padding: 0px 5px;
}

.light-text {
    color: #999999;
    font-weight: 300;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999999;
    margin: 0px 10px;
}
